/* ↓↓↓必要动画↓↓↓ */
@keyframes 对话框进入动画 {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes 对话框退出动画 {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes 提示浮现 {
    from {
        transform: translate(-50%, -10px);
        opacity: 0;
    }
    
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@keyframes 标题进入 {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    
    to {
        opacity: 1;
    }
}

@keyframes 标题退出 {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}
/* ↑↑↑必要动画↑↑↑ */

@keyframes 颤抖 {
    0% {
        transform: translate(0);
    }
    
    20% {
        transform: translateX(-1px);
    }
    
    40% {
        transform: translateY(2px);
    }
    
    60% {
        transform: translateX(1px);
    }
    
    80% {
        transform: translateX(-1px);
    }
    
    100% {
        transform: translateY(-2px);
    }
    
}